/* theme.css */
:root {
  --color-principal: #45489a;
  --color-secundario: #232323;
  --color-fondo: #f8f9fa;
  --color-texto: #333;
  --fuente-base: 'Open Sans', sans-serif;
}

body {
  font-family: var(--fuente-base);
  color: var(--color-texto);
  background: var(--color-fondo);
  margin: 0;
}
